

.toggle-button {
    position: fixed;
    top: 30px;
    right: 30px;
    width: 100px;
    height: 100px;
    cursor: pointer;
    background: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    transition: 1s ease;
}


.navbar3 {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items:center;

    animation: transition 0.5s ease;
}

@keyframes transition {
    from {
        transform:scale(0);
        width: 0;
        height: 0;
        border-radius: 50%;
        /* transform: translateX(200px) */
    } to {
        transform:scale(1);
        width: 100%;
        height: 100%;
        /* transform: translateX(0) */
    }
}

.navbar3_links {
    color: #000;
    font-size: 30px;
}
